<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="mainSuite">
    <suite-files>
        <suite-file path="team_suite.xml"/>
        <suite-file path="liza_suite.xml"/>
        <suite-file path="george_suite.xml"/>
        <suite-file path="nadya_suite.xml"/>
        <suite-file path="dziana_suite.xml"/>
    </suite-files>
</suite>